#box{
  width: 65%;
    height: 200px;
    background-color: #B9C2BD;
}
#res{
    /* border: 1px solid red; */
    width: 40%;
}
#formheadd {
    text-align: left;
    background-color: #B9C2BD;
    width: 65%;
    
}
#imgsrc{
    width: 50%;
    height: 50%;
    border-radius: 180%;
    margin-left: 6%;
    margin-top: 5%;
}
#textareaa{
width: 65%;
    height: 200px;
    font-size: large;
}